


<!-- <p>
  members works!
</p>
<p>
  {{memebervar}}
</p>
<p>
  {{obj.name}}
</p>
<ul>
  <li *ngFor = "let i of arr">{{i}}</li>
</ul>

<p *ngIf = "isTrue"> Hello </p>
<p *ngIf = "myName == 'mike' "> True </p>


<p *ngIf = "!isTrue"> Bye </p>
<p *ngIf = "myName != 'Mike' "> True </p>

<p *ngIf = "isTrue; else firstTemp"> Hello </p>
<ng-template #firstTemp> This is first Template </ng-template>

<p *ngIf = "isTrue2; then secondTemp"> Hello </p>
<ng-template #secondTemp> This is second Template </ng-template> -->
